In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import spacy
import en_core_web_sm
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt  
from wordcloud import WordCloud
from pandas_profiling import ProfileReport   
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.metrics import average_precision_score, auc, roc_curve, precision_recall_curve
from textblob import TextBlob
#pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

/anaconda2/lib/python2.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [114]:
texts = [
    "Penny bought briht blue fihes ana.",
    "Penny bght bright blue and orage fish.",
     "The cat ate a fish at the stre.",
     "Penny went to the store. Penny ate a bug. Penny saw a fish.",
    "It meowed once at the bug, it is sill mewing at the bug and the fish",
     "The cat is at the fish store. The cat is orange. The cat is meoing at the fish.",
     "Penny is a fish"
]

In [115]:
df=pd.DataFrame(texts, columns=['doc'])

In [116]:
df.head()

                                                 doc
0                 Penny bought briht blue fihes ana.
1             Penny bght bright blue and orage fish.
2                    The cat ate a fish at the stre.
3  Penny went to the store. Penny ate a bug. Penn...
4  It meowed once at the bug, it is sill mewing a...

In [117]:
def spell_check(x):
    x=TextBlob(str(x)).correct()
    return ''.join(x)

df['doc']=df['doc'].apply(lambda x: spell_check(x))

In [118]:
df.head()

                                                 doc
0                Penny bought bright blue fires ana.
1             Penny but bright blue and orange fish.
2                    The cat ate a fish at the sure.
3  Penny went to the store. Penny ate a bug. Penn...
4  It mowed once at the bug, it is sill sewing at...

In [71]:
def tokenize(x):
    x= TextBlob(str(x)).words
    return x
#df['doc']=df['doc'].apply(lambda x: tokenize(x))

In [72]:
df.head()

                                                 doc
0               Penny bought bright blue fishes ana.
1  It meowed once at the bug, it is still meowing...

In [73]:
import spacy
import en_core_web_sm
#from __future__ import unicode_literals
nlp = spacy.load('en_core_web_sm')
def make_to_base(x):
    x_list=[]
    doc=nlp(x)
    for token in doc:
        lemma=token.lemma_
        
        if lemma=='_PRON_' or lemma == 'be' or lemma == 'is': 
            lemma=token.text
            
        x_list.append(lemma)
    return ' '.join(x_list)

df['doc']=df['doc'].apply(lambda x: make_to_base(x.decode("utf-8")))

In [74]:
df.head()

                                                 doc
0                   penny buy bright blue fish ana .
1  -PRON- meow once at the bug , -PRON- is still ...

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(stop_words='english')

In [76]:
# .fit_transfer TOKENIZES and COUNTS
X = count_vectorizer.fit_transform(df['doc'])

In [77]:
X.toarray()

array([[1, 1, 1, 0, 1, 1, 0, 1, 0],
       [0, 0, 0, 2, 0, 1, 2, 0, 2]])

In [78]:
new_df=pd.DataFrame(X.toarray())

In [79]:
new_df.head()

   0  1  2  3  4  5  6  7  8
0  1  1  1  0  1  1  0  1  0
1  0  0  0  2  0  1  2  0  2

In [80]:
count_vectorizer.get_feature_names()

[u'ana',
 u'blue',
 u'bright',
 u'bug',
 u'buy',
 u'fish',
 u'meow',
 u'penny',
 u'pron']

In [81]:
new_df= pd.DataFrame(X.toarray(), columns=count_vectorizer.get_feature_names())

In [82]:
new_df.head(10)

   ana  blue  bright  bug  buy  fish  meow  penny  pron
0    1     1       1    0    1     1     0      1     0
1    0     0       0    2    0     1     2      0     2

In [83]:
### TF

tfidf_vectorizer = TfidfVectorizer(stop_words='english', tokenizer= tokenize, use_idf=False, norm='l1')
X = tfidf_vectorizer.fit_transform(df['doc'])
tf_df=pd.DataFrame(X.toarray(), columns=tfidf_vectorizer.get_feature_names())

In [85]:
#"Penny bought bright blue fishes.",
    #"Penny bought bright blue and orange fish.",
#     "The cat ate a fish at the store.",
#     "Penny went to the store. Penny ate a bug. Penny saw a fish.",
    #"It meowed once at the bug, it is still meowing at the bug and the fish",


#value = (number of times word appears in sentence) / (number of words in sentence)
tf_df.head()

,ana,blue,bright,bug,buy,fish,meow,penny,pron
0,0.166667,0.166667,0.166667,0.000000,0.166667,0.166667,0.000000,0.166667,0.000000
1,0.000000,0.000000,0.000000,0.285714,0.000000,0.142857,0.285714,0.000000,0.285714

In [ ]:
### TDf

In [86]:
# use_idf=True is default, but I'll leave it in
idf_vectorizer = TfidfVectorizer(stop_words='english', tokenizer= tokenize, use_idf=True, norm='l1')
X = idf_vectorizer.fit_transform(df['doc'])
idf_df = pd.DataFrame(X.toarray(), columns=idf_vectorizer.get_feature_names())

In [87]:
idf_df.head()

,ana,blue,bright,bug,buy,fish,meow,penny,pron
0,0.175085,0.175085,0.175085,0.000000,0.175085,0.124574,0.000000,0.175085,0.000000
1,0.000000,0.000000,0.000000,0.297996,0.000000,0.106013,0.297996,0.000000,0.297996

In [88]:
vectorizer = TfidfVectorizer(use_idf=True, max_features=4, tokenizer=tokenize, stop_words='english', norm='l1')
X = vectorizer.fit_transform(df['doc'])

In [89]:
x_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())

In [90]:
x_df.head()

        bug      fish      meow      pron
0  0.000000  1.000000  0.000000  0.000000
1  0.297996  0.106013  0.297996  0.297996

In [95]:
idf_vectorizer = TfidfVectorizer(stop_words='english', tokenizer=tokenize, use_idf=True, norm='l1', ngram_range=(1, 2), max_df=0.5, min_df=0.1, sublinear_tf=True )
X = idf_vectorizer.fit_transform(df['doc'])
new_idf_df = pd.DataFrame(X.toarray(), columns=idf_vectorizer.get_feature_names())

In [96]:
new_idf_df.head()

,ana,blue,blue fish,bright,bright blue,bug,bug fish,bug pron,buy,buy bright,fish ana,meow,meow bug,penny,penny buy,pron,pron meow
0,0.1,0.1,0.1,0.1,0.1,0.00000,0.00000,0.00000,0.1,0.1,0.1,0.00000,0.00000,0.1,0.1,0.00000,0.00000
1,0.0,0.0,0.0,0.0,0.0,0.16178,0.09555,0.09555,0.0,0.0,0.0,0.16178,0.16178,0.0,0.0,0.16178,0.16178

In [120]:
y=[0,1]
X=X
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=.20,random_state=101)

In [121]:
y_test

[0]